[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/phoenix-phase-2-staging"]
	path = phoenix-phase-2-staging/src
	url = https://github.com/Behodler/phoenix-phase-2-staging
	branch = master
[submodule "lib/phlimbo-ea"]
	path = phlimbo-ea/src
	url = https://github.com/Behodler/phlimbo-ea
	branch = master
[submodule "lib/reflax-yield-vault"]
	path = reflax-yield-vault/src
	url = https://github.com/Behodler/reflax-yield-vault
	branch = master
[submodule "lib/stable-yield-accumulator"]
	path = stable-yield-accumulator/src
	url = https://github.com/Behodler/stable-yield-accumulator
	branch = master
[submodule "lib/yield-claim-nft"]
	path = yield-claim-nft/src
	url = https://github.com/Behodler/yield-claim-nft.git
	branch = master
[submodule "lib/phoenix-nft-staking"]
	path = phoenix-nft-staking/src
	url = https://github.com/Behodler/phoenix-nft-staking
	branch = main
[submodule "lib/stable-staker"]
	path = stable-staker/src
	url = git@github.com:Behodler/stable-staker.git
	branch = master
[submodule "lib/antimatter"]
	path = antimatter/src
	url = https://github.com/Behodler/antimatter
	branch = master
