[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/2025-12-panoptic"]
	path = lib/2025-12-panoptic
	url = https://github.com/code-423n4/2025-12-panoptic
[submodule "lib/moonwell-bug-bounty"]
	path = lib/moonwell-bug-bounty
	url = https://github.com/code-423n4/moonwell-bug-bounty
[submodule "lib/blackhole-bug-bounty"]
	path = lib/blackhole-bug-bounty
	url = https://github.com/code-423n4/blackhole-bug-bounty
[submodule "lib/legion-bug-bounty"]
	path = lib/legion-bug-bounty
	url = https://github.com/code-423n4/legion-bug-bounty
[submodule "lib/intuition-bug-bounty"]
	path = lib/intuition-bug-bounty
	url = https://github.com/code-423n4/intuition-bug-bounty
[submodule "lib/phoenix-phase-2-staging"]
	path = lib/phoenix-phase-2-staging
	url = https://github.com/Behodler/phoenix-phase-2-staging
[submodule "lib/phlimbo-ea"]
	path = lib/phlimbo-ea
	url = https://github.com/Behodler/phlimbo-ea
[submodule "lib/reflax-yield-vault"]
	path = lib/reflax-yield-vault
	url = https://github.com/Behodler/reflax-yield-vault
[submodule "lib/2026-01-olas"]
	path = lib/2026-01-olas
	url = https://github.com/code-423n4/2026-01-olas
[submodule "lib/stable-yield-accumulator"]
	path = lib/stable-yield-accumulator
	url = https://github.com/Behodler/stable-yield-accumulator
[submodule "lib/yield-claim-nft"]
	path = lib/yield-claim-nft
	url = git@github.com:Behodler/yield-claim-nft.git
[submodule "lib/phoenix-nft-staking"]
	path = lib/phoenix-nft-staking
	url = https://github.com/Behodler/phoenix-nft-staking
